@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Joan' serif;
}
a{
    text-decoration: none;
    color: darkgrey;
}
.btn{
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #006400;
    border-radius: 2rem;
    color: #1e1e1e;
    transition: .3s;
}
.btn:hover{
    background-color: #006400;
}
.btn-1{
    width: 100%;
    text-align: center;
}

body {
    background-color: #1e1e1e;
    display: grid;
    grid-template-columns: 1000px;
    justify-content: space-evenly;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}
.left-content,
.right-content {
    display: flex;
    align-items: center;
}
.title{
    margin-right: 3rem;
    color: olivedrab;
}
.navigation {
    display: flex;
    list-style: none;
}
.navigation li{
    margin-right: 1rem;
}
.navigation li a:hover{
    color: #006400;
}

.active {
    color: darkgreen;
}
.filter,
.cart,
.help,
.menu {
    position: relative;
    width: 20px;
    height: 20px;
}
.filter,
.cart,
.help{
 margin-right: 1rem;
}
.menu{
    margin-left: 2rem;
}
.filter,
 .menu{
    display: none;
}

.profile-img-box{
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}
img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-container{
    color: gray;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
}
.sidebar {
    background: linear-gradient(45deg, rgba(255, 255, 255, .05), rgba(205, 140, 56, .15));
    backdrop-filter: blur(5px);
    height: fit-content;
    border-radius: 1rem;
    padding: 2rem 2.5rem;

}
.sidebar-groups {
    margin-bottom: 1rem;
}
.sg-title{
    margin-bottom: .5rem;
    color: #fff;
}

input{
    margin-bottom: .6rem;   
}
input[type=checkbox]:checked{
    accent-color: #006400;
}
input[type=radio]:checked{
    accent-color: #006400;
}
label{
    margin-left: .5rem;
}
.upcoming-img-box{
position: relative;
height: 350px;
width: 100%;
border-radius: 2rem;
overflow: hidden;
margin-bottom: 1.5rem;
}
.upcoming-title{
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #006400;
    background-color: #1e1e1e;
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 1px solid #006400;
    font-weight: 500;
}
.buttons{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}
.btn-alt{
    background-color: #1e1e1e;
    color: #006400;
    border: 1px solid #006400;
    margin-left: 1rem;
}
.btn-alt:hover {
    color: #1e1e1e;
    background-color: #006400;
}
.current-movies{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.current-movie{
    background: linear-gradient(45deg, rgba(255, 255, 255, .05), rgba(205, 140, 56, .15));
    padding: 1rem;
    border-radius: .5rem;
}
.cm-img-box{
    position: relative;
    height: 150px;
    width: auto;
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: hidden;
}
.movie-title{
    color: #fff;
    margin-bottom: .2rem;
}
.booking{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.price{
    color: #006400;
}